.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.heroImage {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/hero-background.jpg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroHeading {
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heroSubheading {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.heroButton {
  position: relative;
  background-color: #008b8b;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  transition: background-color 0.3s ease;
}

.heroButton:hover {
  background-color: #087871;
}
