.about {
  padding: 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000 0%, #23a4d7 50%, #000000 100%);
  color: white;
}

.aboutHeading {
  margin-top: 2rem;
}

.aboutSubheading {
  text-align: center;
  max-width: 75%;
}

.team {
  display: flex;
  flex-direction: row;
}

.teamMember {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
  align-items: center;
}

.teamMemberImage {
  object-fit: cover;
  width: 75%;
  height: 75%;
  border-radius: 20%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.7;
}

.teamMemberImage:hover {
  opacity: 1;
}

.aboutButton {
  position: relative;
  background-color: #008b8b;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}

.aboutButton:hover {
  background-color: #087871;
}

@media only screen and (max-width: 860px) {
  .team {
    flex-direction: column;
  }
  .teamMember {
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
}