.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  display: flex;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.logoImage {
  position: relative;
  width: 55px;
  height: auto;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: flex;
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: #f2efef;
  font-weight: bold;
  padding: 1rem;
  transition: background-color 0.3s ease;
}

.navLink:hover {
  color: #087871;
  background-color: #bffcfc;
  cursor: pointer;
}

.headerLink {
  margin-right: 0.7rem;
}

.headerButton {
  border: darkcyan solid 0.5px;
  border-radius: 5px;
  padding: 0.7rem;
  font-weight: bold;
  color: #087871;
  background-color: #bffcfc;
  transition: background-color 0.3s ease;
}

.headerButton:hover {
  color: white;
  background-color: darkcyan;
  border: white solid 0.5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .navList {
    flex-direction: column; /* Change flex direction to column */
    margin: 0;
  }
  
  .navItem {
    margin: 0.5rem 0; /* Add some margin between items */
  }
}