.menu {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.menuImage {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/menu-background.jpg");
  opacity: 0.4;
}

.menuCategory {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.menuItems {
  display: flex;
  flex-direction: row;
}

.menuItem {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  padding: 1rem;
}

.menuItemImage {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
}

.menuItemName {
  margin-bottom: 0;
}

.menuItemPrice {
  font-style: italic;
}

.menuLink {
  width: auto;
  margin: 2rem;
}

.menuButton {
  position: relative;
  background-color: #008b8b;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menuButton:hover {
  background-color: #087871;
}

@media only screen and (max-width: 660px) {
  .menuItems {
    flex-direction: column;
  }
}