/* styles.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  display: flex;
  margin-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.logoImage {
  position: relative;
  width: 55px;
  height: auto;
}